.full {
  background-image: url(/public/fonn.png);
  margin-top: 115px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-size: cover;
  

  .img {
    width: 100%;
    max-width: 333px;
  }

  .wiki {
    margin-top: 40px;
    margin-left: 90px;
    max-width: 508px;
    width: 100%;
        @media (max-width: 700px) {
          margin-left: 20px;
          align-items: center;
          justify-content: center;
           text-align: center;
           p{
            font-size: 14px;
           }
           h1{
            font-size: 15px;
           }
          }
    
    h1 {
      margin-top: 10px;
      margin-bottom: 12px;
    }

    p {
      margin-bottom: 20px;
    }

    button {
      background-color: #006bff;
      color: white;
      padding: 10px 27px;
      border: none;
    }


    // }
  }
}
